@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.navbar-text {
	padding: 3px;
}

.user-avatar {
	border-radius: 50%;
	width: 40px;
	margin: 0 15px;
}

.navbar {
	background-color: $gray-900 !important;
}
