$lightRed: #f04747;
$darkGray: #23272a;

header {
	background-color: $darkGray;
	margin: 0;
	min-height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	// Any button
	input[type='button']:not([class='nav-button']) {
		padding: 6px;
		width: 90px;
		height: 35px;
		font-size: 15px;
		border-radius: 5px;
		outline: none;
		margin-right: 30px;
		&:hover {
			cursor: pointer;
		}
	}
}

.title {
	margin-left: 20px;
	font-weight: 400;
	font-size: 25px;
	text-decoration: none;
}

.header-right {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: right;
	flex-wrap: wrap;
	* {
		margin: 0 10px;
	}

	> nav {
		margin: 0 30px;
		height: 100%;
	}
}

.log-in {
	background-color: #7289da;
	color: white;
	border: none;
	&:hover {
		background-color: #5f75c2;
	}
}

.log-out {
	background-color: $darkGray;
	border: solid $lightRed 1.8px;
	color: $lightRed;
	&:active {
		background-color: rgba($color: $lightRed, $alpha: 0.2);
	}
}

.user-avatar {
	border-radius: 50%;
	height: 45px;
}
