@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';

// Custom bootstrap colors
$gray: #2c2f33;
$purple: #7289da;
$theme-colors: (
	lightpurple: #99aab5,
	purple: $purple,
	gray: $gray,
	dark: #23272a,
	darker: #23272a,
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
	background-color: $gray !important;
}

.btn-purple {
	background-color: $purple !important;
	color: white !important;
}

.med-text {
	text-align: center;
	margin-top: 100px;
}
